h1, h3 {
	color: #69b7cf !important;
}

h2 {
	color: #AAAAAA !important;
}

h2 > .key {
	font-size: 1.5em;
	color: #69b7cf !important;
}

h2 > .minor {
	font-size: 1.22em;
}

h4 {
	color: #777 !important;
}

h1 {
	margin: 6px 0 12px;
}

img {
	max-width: 100%;
}
