.item_block {
	width: 158px;
	height: 64px;
	margin: 4px;
	border-style: solid;
	border-width: 1px;

	border-color: #69b7cf;
	background-color: #69b7cf;

	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: white!important;
	text-align: left;
	line-height: 64px;
	transition: all ease-out 0.3s;
}

.item_block div {
	margin-left: 28px;
	font-size: 15px;
	vertical-align: middle;
	cursor: pointer;
	color: white!important
	transition: all ease-out 0.3s;
}

.item_block:hover {
	cursor: pointer;
	background: white;
	border-color: #ddd
}

.item_block:hover div {
	color: #69b7cf!important
}

.item_block-disabled {
	width: 158px;
	height: 64px;
	margin: 4px;
	border-style: solid;
	border-width: 1px;

	border-color: #efefef;
	background-color: #fff!important
}

.item_block-placeholder {
	width: 158px;
	display: inline-block;
	height: 0!important;
	margin: 0 5px!important;
	visibility: hidden;
}
