@media (max-width: 540px) {

	#me-table > div {
		overflow: visible;
	}

	#me-table .R1 {
		text-align: left !important;
		padding-left: 6px;
		width: auto;
		max-width: 100%;
		float: none;
		overflow: visible;
	}

	#me-table .R2 {
		padding-left: 45px !important;
		clear: both;
		float: none;
		max-width: 100%;
		margin-top: 4px;
		margin-bottom: 4px
	}

}
