#me-table {
	border-spacing: 6px 8px;
	padding-bottom: 16px
}

#me-table div {
	overflow: hidden;
	margin-top: 8px;
	margin-bottom: 8px;
}

#me-table .R1 {
	float: left;
	text-align: right;
	width: 100px;
	color: #69b7cf;
}

#me-table .R2 {
	float: left;
	padding-left: 10px;
	text-align: left;
	max-width: 80%;
}
